#header {
    padding-bottom: 50px;
    color: white;
}

.col {
    border: 3px solid white;
}

.btn{
    background-color:rgb(156, 108, 19);
    color: rgb(0, 0, 0);
}

.btn:hover {
    background-color: rgb(224, 153, 19);
    color: rgb(0, 0, 0);
  }

body {
    background-color: black;
}

.card-body{
    background-color:rgb(212, 158, 7);
    color: black;
}

.blogForm{
    color: white;
}
.thinkin{
    color:white;
}