#header {
    padding-bottom: 50px;
}

.col {
    border: 3px solid black;
}

.btn{
    background-color:rgb(50, 88, 190);
    color: white;
}

body {
    background-color: rgb(255, 255, 255);
}

